.main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.news-main{
    border: 1px solid black;
    border-radius: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 25rem;
    /* height: 22rem; */
    padding: 0rem 0.5rem;
}
.main-title{
    /* border: 1px solid blue; */
    font-size: large;
    font-weight: 800;
    height: 4rem;
}
.news-image{
    /* border: 1px solid red; */
    border-radius: 1rem;
    height: 12rem;
    margin: -0.5rem 0rem;
}