.App {
  text-align: center;
  margin: -.5rem 1.2rem 0rem;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  background-color: lightsalmon;
  justify-content: space-around;
  align-items: center;
  border: 1px solid transparent; 
  box-shadow: 0 6px 4px -2px grey 
}
.input{
  width: 20rem;
  padding: .2rem;
  font-size: 1rem;
}
.category-input{
  font-size: 1rem;
  padding: .2rem;
}
.nav-link{
  font-size: 2rem;
  margin: 1rem 0rem;
  font-weight: bold;
  color: black;
}